apiVersion: apps/v1  # Deployment kaynağının API sürümü
kind: Deployment  # Bu kaynağın türü: Deployment
metadata:
  namespace: default  # Deployment'ın oluşturulacağı namespace
  name: gitops-demo-deployment  # Deployment'a verilen isim
  labels:
    app: gitops-demo  # Deployment ve pod'ları etiketlemek için label
spec:
  replicas: 3  # Oluşturulacak pod sayısı
  selector:
    matchLabels:
      app: gitops-demo  # Hangi pod'ların bu Deployment'a ait olduğunu belirlemek için selector
  template:
    metadata:
      namespace: default  # Pod template için namespace (Deployment ile aynı)
      labels:
        app: gitops-demo  # Pod'lara atanacak label
    spec:
      containers:
        - name: gitops-demo  # Container ismi
          image: yilmazsemi/gitops-demo:v1.0.0  # Container’da çalışacak Docker imajı
          ports:
            - containerPort: 3000  # Container’ın açacağı port
          resources:
            requests:  # Container için minimum kaynak talepleri
              memory: "128Mi"  # Minimum bellek miktarı
              cpu: "250m"  # Minimum CPU miktarı (millicores)
            limits:  # Container için maksimum kaynak sınırları
              memory: "256Mi"  # Maksimum bellek miktarı
              cpu: "500m"  # Maksimum CPU miktarı
