apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: gitops-demo-deployment
  labels:
    app: gitops-demo
spec:
  replicas: 3

  # Selector hala "app: gitops-demo"
  selector:
    matchLabels:
      app: gitops-demo

  template:
    metadata:
      namespace: default
      labels:
        app: gitops-demo-broken   #  LABEL MISMATCH → ArgoCD SYNC ERROR

    spec:
      containers:
        - name: gitops-demo

          #  BROKEN IMAGE → Pod ImagePullBackOff (eğer sync mümkün olsaydı)
          image: yilmazsemi/gitops-demo:broken-latest

          ports:
            - containerPort: 3000

          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
